PORT=8000
MONGODB_URL=mongodb://<YOUR_DB_USERNAME>:<YOUR_DB_PASSWORD>@ac-swesaac-shard-00-00.qtsvmvl.mongodb.net:27017,ac-swesaac-shard-00-01.qtsvmvl.mongodb.net:27017,ac-swesaac-shard-00-02.qtsvmvl.mongodb.net:27017/gajubhau-web-db?ssl=true&replicaSet=atlas-kt1q1o-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET="<YOUR_JWT_SECRET>"
OPENROUTER_API_KEY="<YOUR_OPENROUTER_API_KEY>"
RAZORPAY_KEY_ID="<YOUR_RAZORPAY_KEY_ID>"
RAZORPAY_KEY_SECRET="<YOUR_RAZORPAY_KEY_SECRET>"
